.boxImg{
    display: grid;
    grid-template-areas: 'img img' 'control-f control-b';
    gap: 20px 10px;
    input{
        display: none;
        }
    img{
        grid-area: img;
        justify-self: center;
        }    
    }
.sideLabel{
    border: 1px solid $midBlack;
    border-radius: 50%;
    color: $midBlack;
    display: inline-block;
    font-size: 1.5em;
    padding: 8px 11px;
    &.front{
        grid-area: control-f;
        justify-self: end;
        }
    &.back{
        grid-area: control-b;
        justify-self: start;
        }
    &:hover{
        background-color: $darkestBlack;
        }
    }
input#front:checked ~ .sideLabel.front,
input#back:checked ~ .sideLabel.back{
    background-color: $midBlack;
    color: $darkerBlack;
    }
input#front:checked{
    & ~ img#box-front{
        display: block;
        }
    & ~ img#box-back{
        display: none;
        }
    }
input#back:checked{
    & ~ img#box-back{
        display: block;
        }
    & ~ img#box-front{
        display: none;
        }
    }