@media screen and (max-width:800px){
    .devShowcaseWrap{
        grid-template-areas: "header header header" "tile tile tile";
        grid-template-columns: repeat(3,1fr);
        }
    }

@media screen and (max-width:700px){
    .gameShowcaseWrapper{
        grid-template-areas: "header" "tile";
        grid-template-columns: none;
        }
    .gameTile{
        grid-template-areas: "image data" "image cta";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 42px;
        }
    .gameImg{
        grid-area: image;
        padding: 15px;
        }
    .gameData{
        grid-area: data;
        }
    .ctaSection{
        grid-area: cta;
        }
    .inDevelopmentWrap{
        grid-template-areas: "header header" "tile tile";
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 30px;
        }
    .aboutWrap{
        grid-template-columns: none;
        }
    .devShowcaseWrap{
        grid-template-areas: "header header" "tile tile";
        grid-template-columns: repeat(2,1fr);
        }
    .labsShowcaseWrap{
        grid-template-areas: "header" "tile";
        grid-template-columns: 1fr;
        }
    .labTile{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "image data" "image data";
        }   
    
    }
@media screen and (max-width:650px){
    .labsIntro{
        padding: 25px;
        }
    .labsIntroWrap{
        grid-template-columns: 3fr 4fr;
        }
    }
    
@media screen and (max-width:500px){
    .teamContainer{
        grid-template-columns: repeat(2, 1fr);
        }
    .labsIntroWrap{
        grid-template-columns: auto;
        grid-auto-rows: auto;
        grid-row-gap: 30px;
        }
    .labTile{
        grid-template-columns: none;
        grid-template-areas: "image" "data";
        }
    }
    
@media screen and (max-width:430px){
    .inDevelopmentWrap,
    .devShowcaseWrap{
        grid-template-areas: "header" "tile";
        grid-template-columns: none;
        }
    .gameTile{
        grid-template-areas: "image" "data" "cta";
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
        }
    .gameImg{
        padding: 0;
        }
    .gameData ul{
        display: none;
        }
    }
    
@media screen and (max-width:320px){
    .teamContainer{
        grid-template-columns: 1fr;
        }
    }