@media screen and (max-width: 49em){    
    //GAME SHOWCASE
    .gameTile{
        flex-basis: 100%;
        &:nth-child(odd){margin-right: 0;}
        &:nth-child(even){margin-left: 0;}
        &:nth-last-child(-n + 2){margin-bottom: 2.5em;}
        &:last-child{margin-bottom: 0;}
        }
}
    
@media screen and (max-width: 35em){
    
    //LAYOUT
    .aboutSection{
        .halfWidth{
            flex-wrap: wrap;
            flex-basis: 100%;
            &:nth-child(odd){margin-right: auto;}
            &:nth-child(even){margin-left: auto;}
            }
        .teamContainer{
            margin-bottom: 2em;
            text-align: center;
            justify-content: center;
            }
        }
    .devTile{
        flex: 0 0 48%;
        }       

}

@media screen and (max-width:27.813em){
    
    //GAME SHOWCASE
    .gameShowcase{
        margin-left: 2%;
        margin-right: 2%;
        }
    .gameTile{
        border-left: none;
        border-top: 10px solid transparent;
        flex-wrap: wrap;
        &::before{
            height: 10px;
            width: auto;
            top: -10px; bottom: auto; left: 0; right: 0;
            }
         &.aloftGame::before{background-image: linear-gradient(45deg,$aloftRibbon);} 
         &.riseGame::before{background-image: linear-gradient(45deg,$riseRibbon);} 
         &.clairGame::before{background-image: linear-gradient(45deg,$clairRibbon);} 
         &.alakaGame::before{background-image: linear-gradient(45deg,$alakaRibbon);} 
        }
    .gameLink, .gameInfo{
        flex: 0 0 100%;
        }
    .gameInfo{
        margin-left: 0;
        margin-top: 1em;
        }
    .gameTitle, .gameData{
        display: none;
        }
        
    //ABOUT       
    .aboutSection{
        padding-left: 4%;
        padding-right: 4%;
        //text-align: center;
        .thirdWidth{
            flex-basis: 48%;
            }
        }
    //IN DEVELOPMENT
    .devTile{
        flex: 0 0  100%;
        margin: 0  0  3em;
        }
    }