//
//***************************************************UNIVERSAL
@import 'reset';

// Palette
$mainBlack:#313737;
$lightBlack: #BCCAD0;
$darkerBlack: #252529;
$darkestBlack:#1A1A1A;
$mainBlue:#29ABE2;
$labYellow: #FFC60B;

$aloftRibbon:#CCE0F4 0%,darken(#CCE0F4,40%) 100%;
$riseRibbon:#BF1A24 0%,darken(#BF1A24,20%) 100%;
$clairRibbon:#742C6C 0%,darken(#742C6C,12%) 100%;
$alakaRibbon:#009345 0%,darken(#009345,15%) 100%;

*,*+*{
    box-sizing: border-box;
    }
img{
	max-width: 100%;
	height: auto;
	}
body{
    color: white;
    font-size: 62.5%;
    font-family: 'IBM Plex Sans', sans-serif;
    text-rendering: optimizeLegibility;
    }
    
//
//*****************************************************LAYOUT
$mainWidth: 1160px;

%container{
    display: grid;
    margin: 0 auto;
    max-width: $mainWidth;
    }
    
//
//***************************************************ELEMENTS
.button{
    background-color: $lightBlack;
    border-radius: .2em;
    box-shadow: 0 2px 3px $darkestBlack;
    color: white;
    font-size: 1.6em;
    font-weight: 700;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 2px $mainBlack;
    &:hover{
        background-color: darken($lightBlack,10%);
        text-shadow: 0 1px 2px $mainBlack;
        }
    }
.button + .button{
    margin-left: 10px;
    }
.buyButton{
    background-color: $mainBlue;
    &:hover{
        background-color: darken($mainBlue,10%);
        }
    }
    
//
//*************************************************TYPOGRAPHY
h1{
    color: rgba($lightBlack,.5);
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 3.6em;
    margin-bottom: .5em;
    }
h2{
    font-size: 2.4em;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: $lightBlack;
    display: block;
    margin-bottom: 15px;
    }
h3{
    font-size: 2.4em;
    font-weight: 700;
    margin-bottom: .25em;
    }
h4{
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.2em;
    padding-bottom: .5em;
    }
h5{
    font-size: 1.4em;
    }
p,
ul > li{
    font-size: 1.6em;
    line-height: 1.5em;
    strong{
        font-weight: 700;
        }
    em{
        font-style: italic;
        }
    }
p a{
    border-bottom: 2px dotted rgba($mainBlue,.2);
    color: $mainBlue;
    text-decoration: none;
    &:hover{
        color: lighten($mainBlue,10%);
        border-bottom: 2px dotted $mainBlue;
        }
    }
p+p{
    margin-top: 15px;
    }
time{
    color: $lightBlack;
    display: block;
    font-size: 1.6em;
    margin-bottom: .5em;
    }

//
//*****************************************************HEADER
.header{
    padding: 0 25px;
    background-color: $mainBlack;
    }
.headerWrap{
    @extend %container;
    }
.mainHeader{
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    width: 100%;
    }
//**************************************Logo
.logo{
    display: flex;
    max-height: 75px;
    max-width: 239px;
    margin-top: 13px;
    }
.logo svg{
    .eye-symbol, .eye-word{
        fill: white;
        }
    .games-word{
        fill: $mainBlue;
        }
    }
.logo:hover svg{
    .eye-symbol{fill: $mainBlue;}
    }
//*********************************Navigation
.mainNav{
    display: flex;
    }
@import 'menu';

.active{
    a{color: $mainBlue;}
    &.labs a{color: $labYellow;}
    }
    
//
//*******************************************************MAIN

//************************************Games
.gameShowcase{
    background-color: $darkerBlack;
    padding: 20px 25px 0;
    }
.gameShowcaseWrapper{
    @extend %container;
    grid-template-areas: "header header header" "tile tile tile";
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    h1{
        grid-area: header;
        background-image: linear-gradient(to bottom, transparent 61%, $lightBlack 2px, transparent 64%);
        span{
            background-color: $darkerBlack;
            padding-right: 5px;
            }
        }
    }
.gameTile{
    background-color: $mainBlack;
    box-shadow: 0 2px 3px $darkestBlack;
    color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin-bottom: 30px;
    position: relative;
    &::before{
        background-color: transparent;
        content: '';
        position: absolute;
        height: 5px;
        top: -5px; left: 0; right: 0;
        }
    &.riseGame{
        &::before{background-image: linear-gradient(to right,$riseRibbon);} 
        }
    &.clairGame{
        &::before{background-image: linear-gradient(to right,$clairRibbon);} 
        }
    &.alakaGame{
        &::before{background-image: linear-gradient(to right,$alakaRibbon);} 
        }
    }
.gameImg{
    line-height: 0;
    }
.gameLink{
    position: relative;
    display: block;
    img{
        box-shadow: 0 2px 4px $darkerBlack;
        }
    &::after{
        background-image: linear-gradient(to bottom, rgba($mainBlue,.1), rgba($mainBlue,.5));
        content: '';
        cursor: pointer;
        mix-blend-mode: hard-light;
        position: absolute;
        left: 0; top: 0; right: 0; bottom: 0;
        transition: 100ms opacity ease-in-out;
        }
    &:hover::after{
        opacity: 0;
        }
    }    
.gameData{
    padding: 10px 10px 15px;
    }
.ctaSection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0 10px 15px;
    }
    
//*****************************Announcements
.announcement{
    background-color: $darkerBlack;
    padding: 0 25px 25px;
    }
.announcementWrap{
    @extend %container;
    background-color: lighten($mainBlack,10%);
    padding: 15px;
    max-width: $mainWidth*.75;
    }
    
//*********************************Newsletter
.newsletter{
    background-color: $darkerBlack;
    padding: 20px 25px 25px;
    text-align: center;
    h1{
        display: block;
        width: 100%;
        }
    }
.newsletterWrap{
    @extend %container;
    max-width: $mainWidth*.33;
    }
.subscribeButton{
    background: $darkerBlack;
    border: 2px solid $mainBlue;
    color: $mainBlue;
	box-shadow: 0 1px 2px rgba($mainBlack,.2);
	padding: 10px 16px;
	width: 100%;
	&:hover{
    	background-color: $mainBlue;
    	color: $darkerBlack;
    	text-shadow: none;
	    }
    }

//*********************In Development Summary
.inDevelopment, .inTheLab{
    background-color: $darkestBlack;
    padding: 20px 25px 0;
    }
.inDevelopmentWrap{
    @extend %container;
    grid-template-areas: "header header header header" "tile tile tile tile";
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 30px;
    h1{
        grid-area: header;
        background-image: linear-gradient(to bottom, transparent 61%, $lightBlack 2px, transparent 64%);
        span{
            background-color: $darkestBlack;
            padding-right: 5px;
            }
        }
    }
.devTileMini img, .devTileMore{
    box-shadow: 0 2px 3px black;
    }    
.devTileMini, .devTileMore{
    margin-bottom: 30px;
    }
.devTileMore{
    display: grid;
    text-align: center;
    position: relative;
    a{
        align-self: stretch;
        background-color: $mainBlack;
        color: white;
        display: grid;
        font-size: 2.4em;
        flex-basis: 100%;
        padding: 10px;
        text-decoration: none;
        &:hover{
            background-color: $darkerBlack;
            color: $mainBlue;
            }
        span{
            align-self: center;
            }
        }
    }
.devProgress{
    border-top: 5px solid rgba(white,.5);
    position: relative;
    &::after{
        content: '';
        border: 2.5px solid $mainBlue;
        position: absolute;
        top: -5px; left: 0;
        }
    &.minProgress::after{width: 12.5%;}
    &.minorProgress::after{width: 25%;}
    &.midProgress::after{width: 50%;}
    &.muchProgress::after{width: 75%;}
    &.maxProgress{border-color: $mainBlue}
    }
.devProgress .gameThumb{
    box-shadow: 0 2px 4px $darkerBlack;
    }
.statusBadge{
    background-color: $mainBlue;
    border-radius: 2px;
    box-shadow: 0 .2em .5em rgba(black,.2);
    color: white;
    padding: .5em .8em;
    position: absolute;
    text-decoration: none;
    bottom: 12px;
    right: 10px;
    }
.inTheLab{
    .devProgress{
        &::after{border-color: $labYellow}
        &.maxProgress{border-color: $labYellow}
        }
    .statusBadge{
        background-color: $labYellow;
        color: $mainBlack;
        }
    }

//*********************In Labs Summary
.inTheLabWrap{
    @extend %container;
    grid-template-areas: "header header header header" "text text tile tile";
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 30px;
    h1{
        grid-area: header;
        background-image: linear-gradient(to bottom, transparent 61%, $lightBlack 2px, transparent 64%);
        span{
            background-color: $darkestBlack;
            padding-right: 5px;
            }
        }
    .textSummary{
        grid-area: text;
        margin-bottom: 30px;
        }
    }
    
//************************************About
.about{
    background-color: $darkerBlack;
    padding: 20px 25px 20px;
    }
.aboutWrap{
    @extend %container;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
     h1{
        background-image: linear-gradient(to bottom, transparent 61%, $lightBlack 2px, transparent 64%);
        span{
            background-color: $darkerBlack;
            padding-right: 5px;
            }
        }
    }
.aboutText{
    margin-bottom: 25px;
    }
.teamContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    justify-content: space-between;
    }
.teamTile{
    text-align: center;
    margin-bottom: 30px;
    h4{
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        }
    }
.teamImage{
    border-radius: 50%;
    margin-bottom: 10px;
    background-image: linear-gradient(to bottom, $darkestBlack, $darkerBlack);
    }

//
//***********************************************IN DEVELOPMENT
.devShowcaseWrap{
    @extend %container;
    grid-template-areas: "header header header header" "tile tile tile tile";
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    h1{
        grid-area: header;
        background-image: linear-gradient(to bottom, transparent 61%, $lightBlack 2px, transparent 64%);
        span{
            background-color: $darkerBlack;
            padding-right: 5px;
            }
        }
    }
.devShowcase{
    background-color: $darkerBlack;
    padding: 20px 25px 0;
    .devTile{
        background-color: $mainBlack;
        box-shadow: 0 2px 3px $darkestBlack;
        color: white;
        display: grid;
        grid-template-rows: auto 1fr auto;
        margin-bottom: 30px;
        position: relative;
        }
    .gameInfo{
        padding: 15px;
        }
    }
//
//*******************************************************RULES
.textShowcaseWrap{
    @extend %container;
    }
.textShowcase{
    background-color: white;
    color: $darkerBlack;
    padding: 20px 25px 50px;
    h1, h2, h3, h4{color: $mainBlack;}
    h2{
        font-size: 3em;
        margin: 30px 0 15px;
        & + h3{margin-top: 0;}
        }
    h3{margin: 30px 0 10px;}
    h4{margin: 15px 0 0;}
    blockquote{
        font-style: italic;
        }
    p{
        font-size: 1.6em;
    }
    ol, ul{
        padding-left: 20px;
        }
    ul{
        list-style-type: disc;
        ul li{list-style-type: circle;}
        ul ul li{list-style-type: "- ";}
        }
    ol{
        list-style-type: decimal;
        }
    li{
        font-size: 1.6em;
        li{font-size: 1em;}
        &+li{margin-top: 5px;}
        p{font-size: 1em;}
        }
    table{
        margin: 10px 0;
        min-width: 300px;
        th,td{padding: 8px;}
        th{
            font-weight: bold;
            border-bottom: 2px solid $mainBlack;
            }
        td{border-top: 1px solid $mainBlack;}
        }
    }

    //
//******************************************************VIDEOS
.videoShowcaseWrap{
    @extend %container;
    grid-template-areas: "header header header" "sidebar . video";
    grid-template-columns: 2fr 1fr 6fr;
    grid-column-gap: 30px;
    h1{
        grid-area: header;
        background-image: linear-gradient(to bottom, transparent 61%, $lightBlack 2px, transparent 64%);
        span{
            background-color: $darkerBlack;
            padding-right: 5px;
            }
        }
    }
.videoShowcase{
    background-color: $darkerBlack;
    padding: 20px 25px 0;
    .videoTileWrap{
        display: grid;
        grid-area: video;
        grid-template-areas: "video video";
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        }
    .videoTile{
        background-color: $mainBlack;
        box-shadow: 0 2px 3px $darkestBlack;
        color: white;
        display: grid;
        grid-template-rows: auto 1fr auto;
        margin-bottom: 30px;
        position: relative;
        }
    .videoInfo{
        padding: 15px;
        }
    .watchCTA{
        padding: 0 15px 15px;
        }
    .videoCTA::after{
        content:"▶";
        padding-left: 5px;
        font-size: .75em;;
        }
    }
.videoSidebar{
    grid-area: sidebar;
    #sort-by, #filter-by{
        border: 1px solid $lightBlack;
        border-radius: 4px;
        background-color: transparent;
        box-shadow: 0 3px 5px black;
        margin: 15px 0 25px;
        padding: 15px;
        }
    #sort-by{
        appearance: none;
        color: white;
        font-size: 1.6em;;
        width: 100%;
        }
    }
#filter-by{
    list-style-type: none;
    label{
        display: block;
        position: relative;
        padding-left: 25px;
        }
    input[type="checkbox"]{
        position: absolute;
        margin-left: -25px;
        }
    }

//
//*****************************************************EYE4LABS
.labsIntro{
    background-color: $darkestBlack;
    padding: 25px 50px 30px;
    }
.labsIntroWrap{
    @extend %container;
    grid-template-columns: 2fr 5fr;
    grid-column-gap: 30px;
    }
.labsIntroText{
    align-self: center;
    background-color: $darkerBlack;
    padding: 25px;
    }
.labButton{
    background-color: white;
    color: $darkerBlack;
    display: inline-block;
    margin-top: 15px;
    text-shadow: none;
    &:hover{
        background-color: $labYellow;
        color: white;
        }
    }
.labsShowcase{
    background-color: $darkerBlack;
    padding: 25px 25px 0;
    p a{
        color: white;
        border-bottom-color: $mainBlack;
        &:hover{
            color: $mainBlack;
            }
        }
    }
.labsShowcaseYellow{
    max-width: $mainWidth;
    margin: 0 auto;
    background-color: $labYellow;
    padding: 25px;
    &.preview{
        background-image: linear-gradient(to bottom, rgba($labYellow,.5), rgba($labYellow,0)), url(../images/eye4labs-art.png);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 50em;
        }
    }
.labsShowcaseWrap{
    @extend %container;
     grid-template-columns: repeat(2, 1fr);
     grid-template-areas: "header header" "tile tile";
     grid-gap: 25px;
     h1{
        background-image: linear-gradient(to bottom, transparent 61%, white 2px, transparent 64%);
        color: white;
        grid-area: header;
        margin-bottom: 0;
        span{
            background-color: $labYellow;
            padding-right: 5px;
            }
        }
    }
.labTile{
    background-color: lighten($labYellow,10%);
    box-shadow: 0px 3px 5px rgba($mainBlack,.2);
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-column-gap: 15px;
    padding: 15px;
    &:last-child{
        margin-bottom: 0;
        }
    }
.labTile .gameImage img{
    box-shadow: 0 2px 4px rgba($darkestBlack,.2);
    margin-bottom: 10px;
    }
.tryButton{
    background-color: $darkerBlack;
    display: block;
    &:hover{
        background-color: $darkestBlack;
        }
    }
.labTile .gameData{
    color: $darkestBlack;
    time{
        color: white;
        }
    h4{
        margin-top: 15px;
        }
    }
    
//
//*****************************************************FOOTER
.mainFooter{
    background-color: $mainBlack;
    color: white;
    padding: 2em 2%;
    text-align: center;
    }
 .socialLinks{
     display: flex;
    max-width: $mainWidth;
    margin: 0 auto;
    justify-content: center;
    }    
.socialLinks a{
        background-color: $mainBlue;
        border-radius: 50%;
        line-height: 0;
        margin: 0 10px;
        width: 40px;
        padding: 10px;
        &.mail{padding: 12px;}
        &:hover{
            background: darken($mainBlue, 10%);
            box-shadow: 0  2px 4px $darkestBlack;
            }
        &:first-child{margin-left: 0;}
        &:last-child{margin-right: 0;}
        svg{fill:$mainBlack}
    }
.mediaResources{
    margin: 15px 0 0;
    }
.copyright{
    font-size: 1.4em;
    margin-top: 1em;
    }

    
@import '_media-queries'