@import "reset";

$mainBlack:#1e1e1e;
$midBlack:lighten($mainBlack,50%);
$lightBlack:lighten($mainBlack,30%);
$mainBlue:#00a9d3;
$hoverBlue:lighten($mainBlue,5%);
$mainWidth:980px;

%container{
	display: flex;
	margin: 0 auto;
	max-width: $mainWidth;
	flex-wrap: wrap;
	}
	
//
//******************************************************UNIVERSAL
*,*+*{box-sizing: border-box;}
body{
	background: $lightBlack;
	font-size: 62.5%;
	}
img{
	max-width: 100%;
	height: auto;
	}
.clear{
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
    }
.oneThird{
	width: 33.3333333333333333%;
	padding: 0 15px;
	}
.oneFifth{
	width: 20%;
	padding: 0 15px;
	}
h1, h2, h3{
    display: block;
    margin:0 auto 20px;
    text-align: center;
	text-transform: uppercase;
    }
h1{font: 300 normal 4em/1 "Oswald";}
h2{font: 300 normal 3.6em/1 "Oswald";}
h3{font: 300 normal 2.4em/1 "Titillium";}
h4{font: 600 normal 1.4em/1 "Titillium";}
h5{font: 300 normal 1.2em/1 "Titillium";}
p{font: 200 normal 1.8em/1.7em "Titillium";}
p i{font-style: italic;}
p a{
    color: lighten($mainBlue,10%);
    border-bottom: 1px dotted $midBlack;
    text-decoration: none;
    }
//
//******************************************************START
.introSection{
	background:$mainBlack;
	}
.mainLogo{
    position: relative;
    }

//
//**************************************************NAVIGATION
.navSection{
    position: relative;
	margin-bottom: 20px;
	&::before{
    	position: absolute;
    	content: "";
    	background: url("../images/eye-pattern.png") repeat, linear-gradient(to bottom, rgba(black,0) 80%,rgba(black,.1));
        height: 93px;
        left: 0; right: 0;
	    }
	}
.navContainer{
	@extend %container;
	align-content: center;
	justify-content: space-between;
	padding: 0 15px;
	}
.mainNav{
	align-items: center;
	display: flex;
	font: 300 normal 1.8em/1 "Oswald";
	padding-top: 35px;
	a{
		color: $midBlack;
		margin-left: 20px;
		text-decoration: none;
		text-transform: uppercase;
		&:hover{color: white;}
		&.external{
			color: white;
			&:hover{color: $mainBlue;}
			}
		}
	}
.nav-collapse .navLinks{
	display: flex;
	}
#menu-icon{
	 display: none;
	 position: relative;
	 z-index: 2;
	 svg{fill: white;}
	 &.active svg{fill:$mainBlue;}
	 }	

//
//*******************************************************GAMES	
.tileSection{
	@extend %container;
	font: 200 normal 1.8em/0 "Titillium";
	justify-content: center;
	padding: 0 0 40px;
	text-align: center;
	}
.gameTile{
	display: block;
	position: relative;
	&::before{
		position: absolute;
		content: "";
		border-radius: 50%;
		background: linear-gradient(to bottom, rgba($mainBlue,.1), rgba($mainBlue,.7));
		opacity: 1;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 1;
		}
	&:hover::before{
		opacity: 0;
		transition: 350ms opacity ease-in-out;
		}
	}
.gameTileImg{
	border-radius: 50%;
	box-shadow: 0 2px 2px darken($mainBlack,10%);
	&:hover{box-shadow: 0 4px 2px darken($mainBlack,20%);}
	}
[class$="Button"]{
	-webkit-appearance: none;
	border-radius: 5px;
	border-top: 1px solid rgba(white,.2);
	box-shadow: 0 1px 2px $mainBlack;
	color: white;
	font-family: "Titillium";
	font-weight: 600;
	position: relative;
	text-transform: uppercase;
	&:hover{text-shadow: 0 1px 2px $mainBlack;}
	}
.siteButton{
	background: $lightBlack;
	padding: 10px 8px 6px;
	position: relative;
	text-decoration: none;
	font-size: .75em;
	z-index: 2;
	&:hover{
		background: lighten($lightBlack,10%);
		}
	&.halfButton{border-radius: 5px 0 0 5px;}
	}
.buyButton{
	@extend .siteButton;
	background: $mainBlue;
	margin-left: -4px;
	z-index: 1;
	&:hover{background: $hoverBlue;}
	&.halfButton{border-radius: 0 5px 5px 0;}
	}	
	
//
//*************************************************ABOUT US	
.aboutSection{
	padding:40px 10px;
	text-align: center;
	h3{
    	color: $midBlack;
    	margin: 20px auto 10px;
    	}
    p{margin-bottom: 20px;}
	}	
.textContainer{
	@extend %container;
	color: white;
	h2{color: $midBlack;}
	h2, p{flex: 0 0  100%;}
	}	
.teamContainer{
	@extend %container;
	color: white;
	justify-content: center;
	margin-top: 20px;
	h4{margin-top: 10px;}
	h5{
    	color: $mainBlack;
    	margin-top: 5px;
	    }
	}
.teamImg{
    border-radius: 50%;
    }
    
//
//**********************************************ANNOUNCEMENTS
.announcementSection{
    border-top: 2px solid $mainBlue;
    padding: 40px 10px;
    text-align: center;
    }


//
//*************************************************NEWSLETTER
.newsletterSection{
	background: $midBlack;
	padding: 40px 0;
	}
.formContainer{
	@extend %container;
	display: block;
	text-align: center;
	h2{color: $lightBlack;}
	form{width: 100%;}
	input{
		border: none;
		border-radius:5px;
		padding: 15px 10px 10px;
		}
	}
.inputContainer{
	margin-bottom: 20px;
	input{
		width: 100%;
		&[placeholder]{font: 300 normal 1.8em/1 "Titillium";}
		}
	&.fullWidth{
		width: 100%;
		padding: 0 10px;
		}
	&.halfWidth{
		float: left;
		padding: 0 10px;
		width: 50%;
		}
	}
.submitButton{
	background: $mainBlue;
	box-shadow: 0 1px 2px rgba($mainBlack,.2);
	cursor: pointer;
	font-size: 1.6em;
	z-index: 1;
	&:hover{
    	background: $hoverBlue;
	    }
	}
.submitContainer{
	position: relative;
	padding: 0 10px;
	&::after{
		position: absolute;
		border-top: 2px dotted $lightBlack;
		content: "";
		width: 95%;
		left: 0;
		right: 0;
		display: block;
		margin: -22px auto 0;
		z-index: 0;
		}
	}
	
//
//**************************************************CONTACT US
.contactSection{
    background: $mainBlack;
    padding: 40px 0 20px;
    
    }
.contactContainer{
    @extend %container;
    justify-content: center;
    }
.contactIcon{
        background: $mainBlue;
        border-radius: 50%;
        line-height: 0;
        margin: 0 10px;
        width: 40px;
        padding: 10px;
        &.mail{padding: 12px;}
        &:hover{background: lighten($mainBlue, 15%);}
        &:first-child{margin-left: 0;}
        &:last-child{margin-right: 0;}
        svg{fill:$mainBlack}
        }
.copyrightSection{
	background: url("../images/eye-pattern.png") repeat, linear-gradient(to top, rgba(black,0) 80%,rgba(black,.1)), $mainBlack;
	color: white;
	padding: 15px 0;
	text-align: center;
	small{
	    font: 300 normal 1.2em/1 "Titillium";
	    margin: 20px auto 0;
    	}
	}

@import "media-queries";