@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, * + * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: white;
  font-size: 62.5%;
  font-family: 'IBM Plex Sans', sans-serif;
  text-rendering: optimizeLegibility;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.headerWrap, .gameShowcaseWrapper, .announcementWrap, .newsletterWrap, .inDevelopmentWrap, .inTheLabWrap, .aboutWrap, .devShowcaseWrap, .textShowcaseWrap, .videoShowcaseWrap, .breadcrumbWrap, .boxShowcaseWrap, .boxExtrasWrap, .labsIntroWrap, .labsShowcaseWrap {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  max-width: 1160px;
}

.button {
  border: 1px solid white;
  border-radius: .2em;
  color: white;
  font-size: 1.6em;
  font-weight: 700;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.button + .button {
  margin-left: 10px;
}

p .button {
  font-size: 1em;
}

.buyButton {
  background-color: white;
  color: black;
  mix-blend-mode: screen;
}

h1 {
  color: rgba(188, 202, 208, 0.5);
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 3.6em;
  margin-bottom: .5em;
}

h2 {
  font-size: 2.4em;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: #BCCAD0;
  display: block;
  margin-bottom: 15px;
}

h3 {
  font-size: 2.4em;
  font-weight: 700;
  margin-bottom: .25em;
}

h4 {
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: .5em;
}

h5 {
  font-size: 1.4em;
}

p,
ul > li {
  font-size: 1.6em;
  line-height: 1.5em;
}

p strong,
ul > li strong {
  font-weight: 700;
}

p em,
ul > li em {
  font-style: italic;
}

p a {
  border-bottom: 2px dotted rgba(41, 171, 226, 0.2);
  color: #29ABE2;
  text-decoration: none;
}

p a:hover {
  color: #56bde8;
  border-bottom: 2px dotted #29ABE2;
}

p + p {
  margin-top: 15px;
}

time {
  color: #BCCAD0;
  display: block;
  font-size: 1.6em;
  margin-bottom: .5em;
}

.textOnly p {
  font-size: 1.8em;
  line-height: 1.7em;
}

.textOnly p + p {
  margin-bottom: 30px;
}

.header {
  padding: 0 25px;
  background-color: #313737;
}

.mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
  width: 100%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 75px;
  max-width: 239px;
  margin-top: 13px;
}

.logo svg .eye-symbol, .logo svg .eye-word {
  fill: white;
}

.logo svg .games-word {
  fill: #29ABE2;
}

.logo:hover svg .eye-symbol {
  fill: #29ABE2;
}

.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* checkboxes invisible and use no space */
.menuIcon + input[type=checkbox] {
  opacity: 0;
  height: 0;
  width: 0;
}

.navList {
  text-align: right;
}

.navLinks a {
  border-bottom: 1px solid transparent;
  color: white;
  display: inline-block;
  font-family: "Oswald";
  font-size: 2em;
  padding: 1em 0 .25em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: border-bottom ease-in-out 300ms;
  transition: border-bottom ease-in-out 300ms;
}

.navLinks a:hover {
  color: #29ABE2;
  border-bottom: 1px dotted #BCCAD0;
  -webkit-transition: border-bottom ease-in-out 300ms;
  transition: border-bottom ease-in-out 300ms;
}

@media screen and (min-width: 41em) {
  .menuIcon, .menuCheck {
    display: none;
  }
  .navLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navLinks a {
    margin-left: 1em;
  }
}

@media screen and (max-width: 41em) {
  .menuCheck {
    display: inline;
  }
  .logo svg {
    position: absolute;
    -webkit-clip-path: inset(0 115px 0 0);
            clip-path: inset(0 115px 0 0);
  }
  /* cursor changes when you mouse over this class */
  .menuIcon {
    cursor: pointer;
    display: block;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .menuIcon svg {
    display: inline-block;
    fill: white;
    max-width: 40px;
  }
  /* prevents sublists below unchecked labels from displaying */
  .menuIcon + input[type=checkbox] + ol {
    height: 0;
    overflow: hidden;
    -webkit-transition: height ease-in-out 300ms;
    transition: height ease-in-out 300ms;
  }
  /* display submenu on click */
  .menuIcon + input[type=checkbox]:checked + ol {
    display: block;
    height: 31em;
    overflow: auto;
    -webkit-transition: height ease-in-out 300ms;
    transition: height ease-in-out 300ms;
  }
  .navList {
    margin-top: 3em;
  }
  .navLinks {
    display: block;
  }
}

.active a {
  color: #29ABE2;
}

.active.labs a {
  color: #FFC60B;
}

.gameShowcase {
  background-color: #252529;
  padding: 20px 25px 0;
}

.gameShowcaseWrapper {
      grid-template-areas: "header header header" "tile tile tile";
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

.gameShowcaseWrapper h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-image: linear-gradient(to bottom, transparent 61%, #BCCAD0 2px, transparent 64%);
}

.gameShowcaseWrapper h1 span {
  background-color: #252529;
  padding-right: 5px;
}

.gameTile {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #313737;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 3px #1A1A1A;
          box-shadow: 0 2px 3px #1A1A1A;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  margin-bottom: 30px;
  position: relative;
}

.gameTile.riseGame {
  background-color: #BF1A24;
}

.gameTile.clairGame {
  background-color: #742C6C;
}

.gameTile.alakaGame {
  background-color: #009345;
}

.gameImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 0;
  max-height: 300px;
  padding: 20px;
  text-align: center;
}

.gameLink {
  display: block;
  position: relative;
  width: 100%;
}

.gameLink img {
  border-radius: 5px;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
  max-height: 100%;
}

.gameLink:hover img {
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.35);
}

.gameData {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  padding: 20px 20px 25px;
}

.ctaSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 0 20px 25px;
}

.announcement {
  background-color: #252529;
  padding: 0 25px 25px;
}

.announcementWrap {
  background-color: #495252;
  padding: 15px;
  max-width: 870px;
}

.newsletter {
  background-color: #252529;
  padding: 20px 25px 25px;
  text-align: center;
}

.newsletter h1 {
  display: block;
  width: 100%;
}

.newsletterWrap {
  max-width: 382.8px;
}

.subscribeButton {
  background: #252529;
  border: 2px solid #29ABE2;
  color: #29ABE2;
  -webkit-box-shadow: 0 1px 2px rgba(49, 55, 55, 0.2);
          box-shadow: 0 1px 2px rgba(49, 55, 55, 0.2);
  padding: 10px 16px;
  width: 100%;
}

.subscribeButton:hover {
  background-color: #29ABE2;
  color: #252529;
  text-shadow: none;
}

.inDevelopment, .inTheLab {
  background-color: #1A1A1A;
  padding: 20px 25px 0;
}

.inDevelopmentWrap {
      grid-template-areas: "header header header header" "tile tile tile tile";
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}

.inDevelopmentWrap h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-image: linear-gradient(to bottom, transparent 61%, #BCCAD0 2px, transparent 64%);
}

.inDevelopmentWrap h1 span {
  background-color: #1A1A1A;
  padding-right: 5px;
}

.devTileMini img, .devTileMore {
  -webkit-box-shadow: 0 2px 3px black;
          box-shadow: 0 2px 3px black;
}

.devTileMini, .devTileMore {
  margin-bottom: 30px;
}

.devTileMore {
  display: -ms-grid;
  display: grid;
  text-align: center;
  position: relative;
}

.devTileMore a {
  -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: #313737;
  color: white;
  display: -ms-grid;
  display: grid;
  font-size: 2.4em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 10px;
  text-decoration: none;
}

.devTileMore a:hover {
  background-color: #252529;
  color: #29ABE2;
}

.devTileMore a span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.devProgress {
  border-top: 5px solid rgba(255, 255, 255, 0.5);
  position: relative;
}

.devProgress::after {
  content: '';
  border: 2.5px solid #29ABE2;
  position: absolute;
  top: -5px;
  left: 0;
}

.devProgress.minProgress::after {
  width: 12.5%;
}

.devProgress.minorProgress::after {
  width: 25%;
}

.devProgress.midProgress::after {
  width: 50%;
}

.devProgress.muchProgress::after {
  width: 75%;
}

.devProgress.maxProgress {
  border-color: #29ABE2;
}

.devProgress .gameThumb {
  -webkit-box-shadow: 0 2px 4px #252529;
          box-shadow: 0 2px 4px #252529;
}

.statusBadge {
  background-color: #29ABE2;
  border-radius: 2px;
  -webkit-box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.2);
  color: white;
  padding: .5em .8em;
  position: absolute;
  text-decoration: none;
  bottom: 12px;
  right: 10px;
}

.inTheLab .devProgress::after {
  border-color: #FFC60B;
}

.inTheLab .devProgress.maxProgress {
  border-color: #FFC60B;
}

.inTheLab .statusBadge {
  background-color: #FFC60B;
  color: #313737;
}

.inTheLabWrap {
      grid-template-areas: "header header header header" "text text tile tile";
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}

.inTheLabWrap h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-image: linear-gradient(to bottom, transparent 61%, #BCCAD0 2px, transparent 64%);
}

.inTheLabWrap h1 span {
  background-color: #1A1A1A;
  padding-right: 5px;
}

.inTheLabWrap .textSummary {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: text;
  margin-bottom: 30px;
}

.about {
  background-color: #252529;
  padding: 20px 25px 20px;
}

.aboutWrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}

.aboutWrap h1 {
  background-image: linear-gradient(to bottom, transparent 61%, #BCCAD0 2px, transparent 64%);
}

.aboutWrap h1 span {
  background-color: #252529;
  padding-right: 5px;
}

.aboutText {
  margin-bottom: 25px;
}

.teamContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.teamTile {
  text-align: center;
  margin-bottom: 30px;
}

.teamTile h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

.teamImage {
  border-radius: 50%;
  margin-bottom: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1A1A1A), to(#252529));
  background-image: linear-gradient(to bottom, #1A1A1A, #252529);
}

.devShowcaseWrap {
      grid-template-areas: "header header header header" "tile tile tile tile";
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}

.devShowcaseWrap h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-image: linear-gradient(to bottom, transparent 61%, #BCCAD0 2px, transparent 64%);
}

.devShowcaseWrap h1 span {
  background-color: #252529;
  padding-right: 5px;
}

.devShowcase {
  background-color: #252529;
  padding: 20px 25px 0;
}

.devShowcase .devTile {
  background-color: #313737;
  -webkit-box-shadow: 0 2px 3px #1A1A1A;
          box-shadow: 0 2px 3px #1A1A1A;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  margin-bottom: 30px;
  position: relative;
}

.devShowcase .gameInfo {
  padding: 15px;
}

.textShowcaseWrap {
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 5px rgba(26, 26, 26, 0.1);
          box-shadow: 0 3px 5px rgba(26, 26, 26, 0.1);
  max-width: 800px;
  padding: 50px;
}

.textShowcase {
  background-color: #e9eef0;
  color: #252529;
  padding: 20px 25px 50px;
}

.textShowcase h1, .textShowcase h2, .textShowcase h3, .textShowcase h4 {
  color: #313737;
}

.textShowcase h2 {
  font-size: 3em;
  margin: 30px 0 15px;
}

.textShowcase h2 + h3 {
  margin-top: 0;
}

.textShowcase h3 {
  margin: 30px 0 10px;
}

.textShowcase h4 {
  font-size: 1.9em;
  margin: 25px 0 0;
}

.textShowcase blockquote {
  font-style: italic;
}

.textShowcase p {
  font-size: 1.9em;
  line-height: 1.7em;
}

.textShowcase ol, .textShowcase ul {
  padding-left: 20px;
}

.textShowcase ul {
  list-style-type: disc;
}

.textShowcase ul ul li {
  list-style-type: circle;
}

.textShowcase ul ul ul li {
  list-style-type: "- ";
}

.textShowcase ol {
  list-style-type: decimal;
}

.textShowcase li {
  font-size: 1.9em;
}

.textShowcase li li {
  font-size: 1em;
}

.textShowcase li + li {
  margin-top: 5px;
}

.textShowcase li p {
  font-size: 1em;
}

.textShowcase table {
  margin: 10px 0;
  min-width: 300px;
}

.textShowcase table th, .textShowcase table td {
  padding: 8px;
}

.textShowcase table th {
  font-weight: bold;
  border-bottom: 2px solid #313737;
}

.textShowcase table td {
  border-top: 1px solid #313737;
}

.videoShowcaseWrap {
      grid-template-areas: "header header header" "video video video";
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

.videoShowcaseWrap h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-image: linear-gradient(to bottom, transparent 61%, #BCCAD0 2px, transparent 64%);
}

.videoShowcaseWrap h1 span {
  background-color: #252529;
  padding-right: 5px;
}

.videoShowcase {
  background-color: #252529;
  padding: 20px 25px 0;
}

.videoShowcase .videoTileWrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: video;
      grid-template-areas: "video video";
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}

.videoShowcase .videoTile {
  background-color: #313737;
  -webkit-box-shadow: 0 2px 3px #1A1A1A;
          box-shadow: 0 2px 3px #1A1A1A;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  margin-bottom: 30px;
  position: relative;
}

.videoShowcase .videoInfo {
  padding: 15px;
}

.videoShowcase .watchCTA {
  padding: 0 15px 15px;
}

.videoShowcase .videoCTA::after {
  content: "▶";
  padding-left: 5px;
  font-size: .75em;
}

.videoSidebar {
  grid-area: sidebar;
}

.videoSidebar #sort-by, .videoSidebar #filter-by {
  border: 1px solid #BCCAD0;
  border-radius: 4px;
  background-color: transparent;
  -webkit-box-shadow: 0 3px 5px black;
          box-shadow: 0 3px 5px black;
  margin: 15px 0 25px;
  padding: 15px;
}

.videoSidebar #sort-by {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: white;
  font-size: 1.6em;
  width: 100%;
}

#filter-by {
  list-style-type: none;
}

#filter-by label {
  display: block;
  position: relative;
  padding-left: 25px;
}

#filter-by input[type="checkbox"] {
  position: absolute;
  margin-left: -25px;
}

.boxShowcase {
  background-color: #252529;
  padding: 25px 50px 30px;
}

.breadcrumbs li {
  color: #BCCAD0;
  display: inline;
}

.breadcrumbs li a {
  color: #29ABE2;
  text-decoration: none;
}

.breadcrumbs li + li::before {
  color: #495252;
  content: '>';
  padding: 0 5px;
}

.boxShowcaseWrap {
  -ms-grid-columns: 4fr 1fr 4fr;
      grid-template-columns: 4fr 1fr 4fr;
  grid-column-gap: 30px;
      grid-template-areas: 'main . aside';
}

.boxShowcaseWrap main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
}

.boxShowcaseWrap aside {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: aside;
}

.boxName {
  width: 100%;
  height: auto;
  fill: white;
  margin: 30px 0 25px;
}

.boxName.rise {
  fill: #e22a35;
}

.boxName.alaka {
  fill: #009345;
}

.boxName.clair {
  fill: #742C6C;
}

.boxName.bluff .mainColor {
  fill: #BCCAD0;
}

.boxName.bluff .dropShadow {
  fill: rgba(188, 202, 208, 0.15);
}

.boxShowcase .gameDetails {
  margin-bottom: 10px;
}

.boxShowcase .gameDetails li {
  display: inline;
}

.boxShowcase .gameDetails li + li {
  margin-left: 15px;
}

.boxShowcase .gameDetails::after {
  content: '';
  display: block;
  border-bottom: 3px solid #495252;
  margin: 15px 0 25px;
  height: 3px;
  width: 100px;
}

.boxShowcase.bluffGame {
  background-color: #2a2147;
}

.boxDetails {
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  top: 20px;
}

.boxImg, .extraImg {
  -ms-flex-line-pack: center;
      align-content: center;
}

.boxImg {
  padding-bottom: 30px;
  margin-bottom: 15px;
}

.boxImg img {
  border-radius: 5px;
  -webkit-box-shadow: 15px 15px 10px #1A1A1A;
          box-shadow: 15px 15px 10px #1A1A1A;
  max-height: 400px;
}

.boxPrice {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #495252;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding-top: 30px;
}

.boxPrice p {
  text-align: left;
}

.boxPrice .buyButton {
  border-radius: 3px;
  font-size: 2em;
  padding: 10px 8px;
  text-decoration: none;
}

.boxPrice .buyButton:hover {
  background-color: #29ABE2;
  -webkit-box-shadow: 0 3px 5px #1A1A1A;
          box-shadow: 0 3px 5px #1A1A1A;
}

.boxExtras {
  background-color: #1A1A1A;
  padding: 25px 50px 30px;
}

.boxExtrasWrap {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "header header" "tile tile";
  grid-gap: 25px;
}

.boxExtrasWrap h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  margin-bottom: 0;
}

.boxTile {
  display: -ms-grid;
  display: grid;
  background-color: #272727;
      grid-template-areas: 'image text' '. cta';
  -ms-grid-columns: 3fr 4fr;
      grid-template-columns: 3fr 4fr;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  gap: 25px;
  padding: 25px;
}

.boxTile:last-child {
  margin-bottom: 0;
}

.boxTile > {
  display: -ms-grid;
  display: grid;
}

.boxTile img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
}

.boxTile .content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: text;
}

.boxTile .cta {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cta;
  width: 100%;
}

.boxTile .cta:hover {
  background-color: white;
  color: #252529;
}

.labsIntro {
  background-color: #1A1A1A;
  padding: 25px 50px 30px;
}

.labsIntroWrap {
  -ms-grid-columns: 2fr 5fr;
      grid-template-columns: 2fr 5fr;
  grid-column-gap: 30px;
}

.labsIntroText {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #252529;
  padding: 25px;
}

.labButton {
  background-color: white;
  color: #252529;
  display: inline-block;
  margin-top: 15px;
  text-shadow: none;
}

.labButton:hover {
  background-color: #FFC60B;
  color: white;
}

.labsShowcase {
  background-color: #252529;
  padding: 25px 25px 0;
}

.labsShowcase p a {
  color: white;
  border-bottom-color: #313737;
}

.labsShowcase p a:hover {
  color: #313737;
}

.labsShowcaseYellow {
  max-width: 1160px;
  margin: 0 auto;
  background-color: #FFC60B;
  padding: 25px;
}

.labsShowcaseYellow.preview {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 198, 11, 0.5)), to(rgba(255, 198, 11, 0))), url(../images/eye4labs-art.png);
  background-image: linear-gradient(to bottom, rgba(255, 198, 11, 0.5), rgba(255, 198, 11, 0)), url(../images/eye4labs-art.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 50em;
}

.labsShowcaseWrap {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "header header" "tile tile";
  grid-gap: 25px;
}

.labsShowcaseWrap h1 {
  background-image: linear-gradient(to bottom, transparent 61%, white 2px, transparent 64%);
  color: white;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  margin-bottom: 0;
}

.labsShowcaseWrap h1 span {
  background-color: #FFC60B;
  padding-right: 5px;
}

.labTile {
  background-color: #ffd23e;
  -webkit-box-shadow: 0px 3px 5px rgba(49, 55, 55, 0.2);
          box-shadow: 0px 3px 5px rgba(49, 55, 55, 0.2);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 4fr;
      grid-template-columns: 3fr 4fr;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  padding: 15px;
}

.labTile:last-child {
  margin-bottom: 0;
}

.labTile .gameImage img {
  -webkit-box-shadow: 0 2px 4px rgba(26, 26, 26, 0.2);
          box-shadow: 0 2px 4px rgba(26, 26, 26, 0.2);
  margin-bottom: 10px;
}

.tryButton {
  background-color: #252529;
  border: none;
  display: block;
}

.tryButton:hover {
  background-color: #1A1A1A;
}

.labTile .gameData {
  background: none;
  color: #1A1A1A;
}

.labTile .gameData time {
  color: white;
}

.labTile .gameData h4 {
  margin-top: 15px;
}

.mainFooter {
  background-color: #313737;
  color: white;
  padding: 2em 2%;
  text-align: center;
}

.socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialLinks a {
  background-color: #29ABE2;
  border-radius: 50%;
  line-height: 0;
  margin: 0 10px;
  width: 40px;
  padding: 10px;
}

.socialLinks a.mail {
  padding: 12px;
}

.socialLinks a:hover {
  background: #1a8dbe;
  -webkit-box-shadow: 0 2px 4px #1A1A1A;
          box-shadow: 0 2px 4px #1A1A1A;
}

.socialLinks a:first-child {
  margin-left: 0;
}

.socialLinks a:last-child {
  margin-right: 0;
}

.socialLinks a svg {
  fill: #313737;
}

.mediaResources {
  margin: 15px 0 0;
}

.copyright {
  font-size: 1.4em;
  margin-top: 1em;
}

@media screen and (max-width: 960px) {
  .boxShowcase .gameDetails li {
    display: block;
  }
  .boxShowcase .gameDetails li + li {
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {
  .boxShowcaseWrap {
        grid-template-areas: 'aside' 'main';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .boxPrice {
    border-bottom: 1px solid #495252;
    border-top: none;
    padding-bottom: 30px;
    padding-top: 0;
  }
  .breadcrumbWrap {
    margin-bottom: 30px;
  }
  .devShowcaseWrap {
        grid-template-areas: "header header header" "tile tile tile";
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .boxExtrasWrap {
        grid-template-areas: "header" "tile";
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

@media screen and (max-width: 700px) {
  .gameShowcaseWrapper {
        grid-template-areas: "header" "tile";
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  .gameTile {
        grid-template-areas: "image data" "image cta";
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 42px;
        grid-template-rows: auto 42px;
  }
  .gameImg {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: image;
  }
  .gameData {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: data;
  }
  .ctaSection {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: cta;
  }
  .inDevelopmentWrap {
        grid-template-areas: "header header" "tile tile";
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
  .inTheLabWrap {
        grid-template-areas: "header header" "text text" "tile tile";
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .aboutWrap {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  .devShowcaseWrap {
        grid-template-areas: "header header" "tile tile";
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .labsShowcaseWrap {
        grid-template-areas: "header" "tile";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .labTile {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "image data" "image data";
  }
  .videoShowcaseWrap {
        grid-template-areas: "header header" "video video";
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .labsIntro {
    padding: 25px;
  }
  .labsIntroWrap {
    -ms-grid-columns: 3fr 4fr;
        grid-template-columns: 3fr 4fr;
  }
}

@media screen and (max-width: 500px) {
  .teamContainer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .labsIntroWrap {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-auto-rows: auto;
    grid-row-gap: 30px;
  }
  .labTile {
    -ms-grid-columns: none;
        grid-template-columns: none;
        grid-template-areas: "image" "data";
  }
  .boxTile {
    -ms-grid-columns: none;
        grid-template-columns: none;
        grid-template-areas: 'image' 'text' 'cta';
  }
}

@media screen and (max-width: 430px) {
  .inDevelopmentWrap,
  .devShowcaseWrap {
        grid-template-areas: "header" "tile";
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  .inTheLabWrap {
        grid-template-areas: "header" "text" "tile";
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  .videoShowcaseWrap {
        grid-template-areas: "header" "video";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .gameTile {
        grid-template-areas: "image" "data" "cta";
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
  .gameData ul {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .teamContainer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=eye4styles.css.map */