/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.navContainer, .tileSection, .textContainer, .teamContainer, .formContainer, .contactContainer {
  display: flex;
  margin: 0 auto;
  max-width: 980px;
  flex-wrap: wrap; }

*, * + * {
  box-sizing: border-box; }

body {
  background: #6b6b6b;
  font-size: 62.5%; }

img {
  max-width: 100%;
  height: auto; }

.clear {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.oneThird {
  width: 33.3333333333333333%;
  padding: 0 15px; }

.oneFourth {
  width: 25%;
  padding: 0 15px; }

.oneFifth {
  width: 20%;
  padding: 0 15px; }

h1, h2, h3 {
  display: block;
  margin: 0 auto 20px;
  text-align: center;
  text-transform: uppercase; }

h1 {
  font: 300 normal 4em/1 "Oswald"; }

h2 {
  font: 300 normal 3.6em/1 "Oswald"; }

h3 {
  font: 300 normal 2.4em/1 "Titillium"; }

h4 {
  font: 600 normal 1.4em/1 "Titillium"; }

h5 {
  font: 300 normal 1.2em/1 "Titillium"; }

p {
  font: 200 normal 1.8em/1.7em "Titillium"; }

p i {
  font-style: italic; }

p a {
  color: #07ceff;
  border-bottom: 1px dotted #9e9e9e;
  text-decoration: none; }

.introSection {
  background: #1e1e1e; }

.mainLogo {
  position: relative; }

.navSection {
  position: relative;
  margin-bottom: 20px; }
  .navSection::before {
    position: absolute;
    content: "";
    background: url("../images/eye-pattern.png") repeat, linear-gradient(to bottom, transparent 80%, rgba(0, 0, 0, 0.1));
    height: 93px;
    left: 0;
    right: 0; }

.navContainer {
  align-content: center;
  justify-content: space-between;
  padding: 0 15px; }

.mainNav {
  align-items: center;
  display: flex;
  font: 300 normal 1.8em/1 "Oswald";
  padding-top: 35px; }
  .mainNav a {
    color: #9e9e9e;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase; }
    .mainNav a:hover {
      color: white; }
    .mainNav a.external {
      color: white; }
      .mainNav a.external:hover {
        color: #00a9d3; }

.nav-collapse .navLinks {
  display: flex; }

#menu-icon {
  display: none;
  position: relative;
  z-index: 2; }
  #menu-icon svg {
    fill: white; }
  #menu-icon.active svg {
    fill: #00a9d3; }

.tileSection {
  font: 200 normal 1.8em/0 "Titillium";
  justify-content: center;
  padding: 0 0 40px;
  text-align: center; }

.gameTile {
  display: block;
  position: relative; }
  .gameTile::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(0, 169, 211, 0.1), rgba(0, 169, 211, 0.7));
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1; }
  .gameTile:hover::before {
    opacity: 0;
    transition: 350ms opacity ease-in-out; }

.gameTileImg {
  border-radius: 50%;
  box-shadow: 0 2px 2px #040404; }
  .gameTileImg:hover {
    box-shadow: 0 4px 2px black; }

[class$="Button"] {
  -webkit-appearance: none;
  border-radius: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 2px #1e1e1e;
  color: white;
  font-family: "Titillium";
  font-weight: 600;
  position: relative;
  text-transform: uppercase; }
  [class$="Button"]:hover {
    text-shadow: 0 1px 2px #1e1e1e; }

.siteButton, .buyButton {
  background: #6b6b6b;
  padding: 10px 8px 6px;
  position: relative;
  text-decoration: none;
  font-size: .75em;
  z-index: 2; }
  .siteButton:hover, .buyButton:hover {
    background: #848484; }
  .siteButton.halfButton, .halfButton.buyButton {
    border-radius: 5px 0 0 5px; }

.buyButton {
  background: #00a9d3;
  margin-left: -4px;
  z-index: 1; }
  .buyButton:hover {
    background: #00bdec; }
  .buyButton.halfButton {
    border-radius: 0 5px 5px 0; }

.aboutSection {
  padding: 40px 10px;
  text-align: center; }
  .aboutSection h3 {
    color: #9e9e9e;
    margin: 20px auto 10px; }
  .aboutSection p {
    margin-bottom: 20px; }

.textContainer {
  color: white; }
  .textContainer h2 {
    color: #9e9e9e; }
  .textContainer h2, .textContainer p {
    flex: 0 0  100%; }

.teamContainer {
  color: white;
  justify-content: center;
  margin-top: 20px; }
  .teamContainer h4 {
    margin-top: 10px; }
  .teamContainer h5 {
    color: #1e1e1e;
    margin-top: 5px; }

.teamImg {
  border-radius: 50%; }

.announcementSection {
  border-top: 2px solid #00a9d3;
  padding: 40px 10px;
  text-align: center; }

.newsletterSection {
  background: #9e9e9e;
  padding: 40px 0; }

.formContainer {
  display: block;
  text-align: center; }
  .formContainer h2 {
    color: #6b6b6b; }
  .formContainer form {
    width: 100%; }
  .formContainer input {
    border: none;
    border-radius: 5px;
    padding: 15px 10px 10px; }

.inputContainer {
  margin-bottom: 20px; }
  .inputContainer input {
    width: 100%; }
    .inputContainer input[placeholder] {
      font: 300 normal 1.8em/1 "Titillium"; }
  .inputContainer.fullWidth {
    width: 100%;
    padding: 0 10px; }
  .inputContainer.halfWidth {
    float: left;
    padding: 0 10px;
    width: 50%; }

.submitButton {
  background: #00a9d3;
  box-shadow: 0 1px 2px rgba(30, 30, 30, 0.2);
  cursor: pointer;
  font-size: 1.6em;
  z-index: 1; }
  .submitButton:hover {
    background: #00bdec; }

.submitContainer {
  position: relative;
  padding: 0 10px; }
  .submitContainer::after {
    position: absolute;
    border-top: 2px dotted #6b6b6b;
    content: "";
    width: 95%;
    left: 0;
    right: 0;
    display: block;
    margin: -22px auto 0;
    z-index: 0; }

.contactSection {
  background: #1e1e1e;
  padding: 40px 0 20px; }

.contactContainer {
  justify-content: center; }

.contactIcon {
  background: #00a9d3;
  border-radius: 50%;
  line-height: 0;
  margin: 0 10px;
  width: 40px;
  padding: 10px; }
  .contactIcon.mail {
    padding: 12px; }
  .contactIcon:hover {
    background: #21d3ff; }
  .contactIcon:first-child {
    margin-left: 0; }
  .contactIcon:last-child {
    margin-right: 0; }
  .contactIcon svg {
    fill: #1e1e1e; }

.copyrightSection {
  background: url("../images/eye-pattern.png") repeat, linear-gradient(to top, transparent 80%, rgba(0, 0, 0, 0.1)), #1e1e1e;
  color: white;
  padding: 15px 0;
  text-align: center; }
  .copyrightSection small {
    font: 300 normal 1.2em/1 "Titillium";
    margin: 20px auto 0; }

@media screen and (max-width: 768px) {
  .oneThird {
    width: 50%;
    margin-bottom: 50px; }
    .oneThird:last-child {
      margin-bottom: 0; }
  .oneFourth {
    width: 50%;
    margin-bottom: 50px; }
    .oneFourth:nth-child(n+3) {
      margin-bottom: 0; }
  .oneFifth {
    width: 33.3333333333333333%;
    margin-bottom: 20px; }
    .oneFifth:last-child {
      margin-bottom: 0; } }

@media screen and (max-width: 640px) {
  .mainLogo {
    margin-left: 15px;
    z-index: 1; }
  .navContainer {
    padding: 0; }
  .nav-collapse .navLinks {
    display: block; }
  #menu-icon {
    display: inline-block;
    margin: 39px 0 0 0;
    position: absolute;
    right: 10px; }
  .mainNav {
    padding-top: 0;
    margin: -23px 0 0;
    width: 100%; }
  .navLinks li {
    background: linear-gradient(to bottom, #1e1e1e 80%, #111111);
    border-top: 1px solid rgba(158, 158, 158, 0.2);
    height: auto; }
    .navLinks li:hover {
      background: linear-gradient(to bottom, #1e1e1e 60%, #111111);
      transition: 300ms background ease-in-out; }
    .navLinks li a {
      color: white;
      display: block;
      padding: 15px;
      margin: 0;
      text-align: right; } }

@media screen and (max-width: 480px) {
  .oneThird, .oneFourth, .oneFifth {
    width: 100%;
    margin-bottom: 40px; }
    .oneThird:last-child, .oneFourth:last-child, .oneFifth:last-child {
      margin-bottom: 0; }
  .gameTile::before {
    background: none; }
  .teamImg {
    max-width: 200px; } }
