---
title: Home
section: Eye4Games
permalink: /
layout: default
announcement: active
banner: active
---

{% if page.banner == "active" %}
    {% include banner.html %}
{% endif %}

<section class="gameShowcase">
    <div class="gameShowcaseWrapper">
        
        <h1>Released Games</h1>
        {% for games in site.data.games limit: 3 %}
            
            <div class="gameTile {{ games.color }}">
                <div class="gameImg">
                    <a href="{{ games.more }}" class="gameLink">
                    <img src="assets/images/{{ games.box }}" alt="">
                    </a>
                </div><!--gameImg-->
                <div class="gameData">
                    <h2>{{ games.name }}</h2>
                    <ul>
                        <li>{{ games.players }}</li>
                        <li>{{ games.time }}</li>
                        <li>{{ games.mechanics }}</li>
                    </ul>
                    <div class="ctaSection">
                    <a href="{{ games.more }}" class="moreLink">Learn More »</a>
                    <a href="{{ games.buy }}" class="buyButton">Buy</a>
                    </div>
                </div>
            </div><!--gameTile-->

        {% endfor %}
    </div><!--gameShowcaseWrapper-->
</section>

{% if page.announcement == "active" %}
    {% include announcement.html %}
{% endif %}

{% include newsletter-cta.html %}

<section class="inTheLab">
    <div class="inTheLabWrap">
        <h1>From the Lab</h1>
        <div class="textSummary">
            <h2>Latest Free Game: Scrapyard Speedway</h2>
            <p>Our newest gift to you, <em>Scrapyard Speedway</em>, a game for 2–5 players, where you try to reach the finish line first, though not necessarily in the same car you started in.</p>
            <p>You can download our eighth release <a href="https://eye4games.itch.io/scrapyard-speedway" target="_blank">on Itch</a> right now.</p>
            <p><a href="/labs">See All the Labs Releases »</a></p>
        </div> <!-- textSummary -->
        
        {% for labs in site.data.labs limit:2 %}
            <div class="devTileMini">
                <a href="{{labs.link}}">
                <div class="devProgress {{labs.progress}}">
                    {% if labs.status != "Released" %}
                    <img src="assets/images/{{labs.image}}" alt="">
                    {% else %}
                    <img src="assets/images/{{labs.release}}" alt="">
                    {% endif %}
                    <span class="statusBadge">{{labs.status}}</span>
                </div>
                </a>
            </div><!--devTileMini-->
        {% endfor %}
    </div><!--inTheLabWrap-->
</section><!--inTheLab-->

<section class="about">
    <div class="aboutWrap">
        <div class="aboutCol">
            <h1>About Us</h1>
            <p>An indie board game company bringing you robot revolutions and wizarding tennis matches since 2013. We have folks in Boston, Pittsburgh, Santa Barbara, and sometimes elsewhere.</p>
            <p>We strive to make games that we enjoy, and to share them with the people who will find them fun.</p>
        </div><!--teamCol-->
        <div class="teamCol">
            <!--<h2>The Team</h2>-->
            <div class="teamTile">
                <img src="/assets/images/team-don.webp" alt="">
                <h4>Don Mitchell</h4>
                <h5>Head & Game Design</h5>
                <p><small>he/they</small></p>
            </div>
            <div class="teamTile">
                <img src="/assets/images/team-rob.webp" alt="">
                <h4>Robert Karl, Jr.</h4>
                <h5>Systems Design</h5>
                <p><small>he/him</small></p>
            </div>
            <div class="teamTile">
                <img src="/assets/images/team-chris.webp" alt="">
                <h4>Chris Baum</h4>
                <h5>Art & Graphic Design</h5>
                <p><small>he/him</small></p>
            </div>
        </div><!--feedCol-->
    </div><!--aboutWrap-->
</section><!--about-->