---
title: Labs
section: Eye4Games
permalink: /labs
layout: default
---

<section class="breadcrumbs">
    <div class="breadcrumbsWrap">
        <ul>
            <li><a href="../">Home</a></li>
            <li>Labs</li>
        </ul>
    </div>
</section>

<section class="labsIntro">
    <div class="labsIntroWrap">
        <img src="assets/images/eye4labs-logo.webp" alt="" class="labsLogo">
        <div class="labsIntroText">
            <h1>What is an Eye4Lab?</h1>
            <p>Eye4Labs is the place where we test out new ideas plus keep ourselves fresh and limber with microgames and targeted experiments. Some of these might become bigger games, some won’t. When you check ’em out let us know what you think by dropping a line and <a href="http://eepurl.com/dz_KSf">learn about new experiments</a>.</p>
        </div>
    </div>
</section>

<section class="labsShowcase">
    <div class="labsShowcaseWrap">
        <h1>Released Labs</h1>
        {% for labs in site.data.labs offset:1%}
        <div class="labTile">
            <div class="gameImage">
                <img src="assets/images/{{labs.image}}" alt="">
                <a href="{{labs.link}}" class="button tryButton">Try It</a>
            </div>
            <div class="labData">
                <time>{{labs.date}}</time>
                <h2>{{labs.name}}</h2>
                <p>{{labs.description}}</p>
                <h3>Quick Pitch</h3>
                <p>{{labs.pitch}}</p>
            </div>
        </div>
        {% endfor %}
        <div class="labTile">
            <div class="gameImage">
                <img src="assets/images/dev-tile-wip.webp" alt="">
            </div>
            <div class="labData">
                <time>In Development</time>
                <h2>Coming Soon</h2>
                <p>If you're as excited as we are to check out what labs we're making next, you can <a href="http://eepurl.com/dz_KSf" target="_blank">sign up</a> for our special email newsletter, just for Eye4Labs Testers.</p>
            </div>
        </div>
    </div>
</section>

{% include newsletter-cta.html %}