<section class="annoucement">
    <div class="announcementWrap">
        <hgroup class="announcementHead">
            <h1>Announcement</h1>
            <time>05/18/2025</time>
        </hgroup>
        <div class="announcementBody">
            <h2>New Store & Updates</h2>
            <p>We've been doing some behind-the-scenes work on updates to our games, including our back catalogue which you may have notices as we've moved our store over to another storefront for our physical games and their corresponding print-and-play releases.</p>
            <p>We're also still offering <a href="https://payhip.com/Eye4Games/collection/physical-releases">50% Off any physical games</a> in our catalogue, or all three at once in our Eye4Bundle as long as supplies last.</p>
        </div>
    </div>
</section>