<section class="annoucement">
    <div class="announcementWrap">
        <hgroup class="announcementHead">
            <h1>Announcement</h1>
            <time>5/16/2023</time>
        </hgroup>
        <div class="announcementBody">
            <h2>See Us at BostonFIG Online Expo 2023</h2>
            <p>Eye4Games will be showing off our latest game <em>Scrapyard Speedway</em>, a racing game for 2–5 players where the racers won't cross the finish line in the same car they started with, at the BostonFIG Online Expo this Saturday, May 20th. So join us for some speedy, silly fun! You can <a href="https://www.eventbrite.com/e/bostonfig-online-expo-2023-tickets-615008766777">Register for Free</a> and we'll see you (virtually) there.</p>
        </div>
    </div>
</section>