<section class="annoucement">
    <div class="announcementWrap">
        <hgroup class="announcementHead">
            <h1>Announcement</h1>
            <time>3/07/2023</time>
        </hgroup>
        <div class="announcementBody">
            <h2>New Look for the Website!</h2>
            <p>We've given the Eye4Site a little bit of a refresh and upgrade. The pages are what you remember, with a fresh coat of paint, but it's a tad easier to maintain on our end.</p>
        </div>
    </div>
</section>