<section class="bannerArea">

<div class="bannerWrap">
    <a class="banner megasale" href="https://payhip.com/Eye4Games/collection/physical-releases">
        <div class="text">
            <span class="topline">Inventory Sale!</span>
            <span class="midline">50% Off</span>
            <span class="bottomline">All Physical Games</span>
        </div>
        <div class="offer">
            <span class="coupon">Buy Now</span>
            <span class="note">While supplies last</span>
        </div>
    </a>
</div>

</section>