<section class="bannerArea">

<div class="bannerWrap">
    <a class="banner megasale" href="https://eye4games.gumroad.com/?tags=physical+item">
        <div class="text">
            <span class="topline">Inventory Sale!</span>
            <span class="midline">50% Off</span>
            <span class="bottomline">All Physical Games</span>
        </div>
        <div class="offer">
            <span class="coupon">EYE4-INV-SALE</span>
            <span class="note">Use code at checkout</span>
        </div>
    </a>
</div>

</section>