<footer class="mainFooter">
    <h2>Keep in Touch</h2>
    <div class="socialLinks">
        <a href="mailto:support@eye4games.com">
            <svg viewBox="0 0 15 15" class="icon icon-envelope" title="mail"><use xlink:href="#icon-envelope"></use></svg>
        </a>
        <a href="https://twitter.com/eye4games">
            <svg viewBox="0 0 15 15" class="icon icon-twitter" title="twitter"><use xlink:href="#icon-twitter"></use></svg>
        </a>
        <a href="https://facebook.com/eye4games">
            <svg viewBox="0 0 15 15" class="icon icon-facebook" title="facebook"><use xlink:href="#icon-facebook"></use></svg>
        </a>
        <a href="https://eye4games.tumblr.com/">
            <svg viewBox="0 0 15 15" class="icon icon-tumblr" title="tumblr"><use xlink:href="#icon-tumblr"></use></svg>
        </a>
        <a href="https://eye4games.itch.io/">
            <svg viewBox="0 0 15 15" class="icon icon-itch" title="itch"><use xlink:href="#icon-itch"></use></svg>
        </a>
        <a href="https://www.youtube.com/channel/UCyjsd20kixVWquzOOgaHWVg">
            <svg viewBox="0 0 15 15" class="icon icon-youtube-play" title="youtube"><use xlink:href="#icon-youtube-play"></use></svg>
        </a>
    </div><!-- socialLinks -->
    <div class="copyrightFooter">
        <!--
        <p class="mediaResources">
            <a href="#" class="mediaLink press">Press Resources</a> | 
            <a href="#" class="mediaLink media">Terms of Use</a>
        </p>
        -->
        <p class="copyright">©2013–{{ "now" | date: "%Y" }} Eye4Games</p>
    </div>
</footer>