<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ page.section }}</title>
        <link rel="icon" type="image/png" sizes="100x100" href="/favicon.png">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i|Oswald:500" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/eye4style.css' | relative_url }}" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MWZE6R53CC"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MWZE6R53CC');
    </script>
</head>