<section class="header">
    <div class="headerWrap">
        <header class="mainHeader">
            <a href="/" class="logo">
                <svg id="eye4logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 239 75" height="75">
                    <title>Eye4Games Logo</title>
                    <g class="eye-symbol">
                    <path d="M60.57,0C23.79,0,0,37.5,0,37.5S23.79,75,60.57,75s60.58-37.5,60.58-37.5S97.36,0,60.57,0Zm0,63.5a26,26,0,1,1,26-26A26,26,0,0,1,60.57,63.5Z"/>
                    <path d="M46.86,44.25,59.43,16.42h6L52.72,44.25h9.83V33.07h5.37V44.25h3v5.22h-3v5.78H62.55V49.47H46.86Z"/>
                    </g>
                    <g class="eye-word">
                    <path d="M133,0h21.82V4.9H138.18v9.75h14.2v4.59h-14.2v10h16.64v4.9H133Z"/>
                    <path d="M166.75,20.11,156.46,0H162l7.24,15.16L176.43,0h5.49L171.63,20.11V34.17h-4.88Z"/>
                    <path d="M184.32,0h21.82V4.9H189.5v9.75h14.2v4.59H189.5v10h16.64v4.9H184.32Z"/>
                    <path d="M216.81,24.47,228.23,0h5.46L222.13,24.47h8.93V14.65H236v9.82h2.72v4.62H236v5.08h-4.9V29.09H216.81Z"/>
                    </g>
                    <g class="games-word">
                    <path d="M133,47.44a8.55,8.55,0,1,1,17.1,0v1.8H145v-1.8a3.45,3.45,0,1,0-6.9,0V66.25a3.45,3.45,0,1,0,6.9,0V59.54H141V55h9.15V66.25a8.55,8.55,0,1,1-17.1,0Z"/><path d="M160.25,39h4.25l7.95,35.61h-5.1L165.85,67H158.9l-1.5,7.65h-5.1Zm2.15,10.25h-.1l-2.5,12.9h5.1Z"/>
                    <path d="M175,39h4.9l6.55,18.85h.1L193,39H198V74.65h-5.1V53h-.1l-5.05,15.3h-2.55l-5-15.3h-.1V74.65H175Z"/>
                    <path d="M202.75,39H218v4.8h-10.1V54.29h8.8v4.8h-8.8V69.55H218v5.1h-15.2Z"/>
                    <path d="M237.75,49.29h-5.1V48.14c0-2.35-1-4.3-3.6-4.3-2.8,0-3.45,2.25-3.45,4.6,0,2.75.25,3.7,2.9,4.75l3.9,1.55c4.5,1.7,5.35,4.55,5.35,9.76,0,6-2.2,10.45-8.8,10.45a8.41,8.41,0,0,1-8.7-8.45V64.59h5.1v1.6a3.37,3.37,0,0,0,3.6,3.66c3.45,0,3.7-2.06,3.7-5.31,0-3.8-.45-4.4-3-5.4l-3.65-1.5c-4.4-1.8-5.55-4.7-5.55-9.15,0-5.4,2.9-9.75,8.75-9.75a8.34,8.34,0,0,1,8.5,8Z"/>
                    </g>
                </svg>
            </a>
            <nav class="mainNav">
               <ul class="navList">
                    <label for="menuCheck" class="menuIcon">
                        <svg viewBox="0 0 20 20" class="icon icon-bars" title="player"><use xlink:href="#icon-bars"></use></svg>
                    </label>
                    <input type="checkbox" id="menuCheck" />
                    <ol class="navLinks">
                        <li class="navLink"><a href="/">Home</a></li>
                        <li class="navLink"><a href="/updates">Newsletter</a></li>
                        <li class="navLink"><a href="/labs">Labs</a></li>
                        <li class="navLink"><a href="/videos">Videos</a></li>
                        <!--<li><a class="external" href="#">Podcast</a> </li>-->
                        <li class="navLink"><a class="external" href="http://eye4games.tumblr.com/">Blog</a></li>
                        <li class="navLink"><a class="external" href="https://gumroad.com/eye4games">Store</a></li>
                    </ol>
                </ul>
            </nav>
        </header>
    </div>
</section>