.button{
    background-color: $mainBlue;
    border-radius: .25rem;
    color: white;
    font-size: 1.6em;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    &.big{
        font-size: 2em;
        padding: 1rem 2rem;
        }
    &:hover{
        color: $mainBlack;
        background-color: white;
        box-shadow: rgba(black,.5) 0 3px 5px;
        }
    }

.buyButton{
    background-color: white;
    border-radius: .25rem;
    border: .1em solid white;
    color: black;
    font-size: 1.8em;
    font-weight: 700;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    mix-blend-mode: screen;
    &:hover{
        background-color: black;
        color: white;
        }
    }

.tryButton{
    background-color: $labYellow;
    color: $mainBlack;
    display: block;
    &:hover{
        background-color: white;
        }
    }