//
//*****************************************************LABS

//*********************In Labs Summary
.inTheLab{
    background-color: $darkestBlack;
    padding-top: 3rem;
    padding-bottom: 3rem;
    .devProgress{
        &::after{border-color: $labYellow}
        &.maxProgress{border-color: white}
        }
    .statusBadge{
        background-color: $labYellow;
        color: $mainBlack;
        }
    }

.inTheLabWrap{
    @extend %container;
    grid-template-areas: "header header header header" "text text tile tile";
    grid-template-columns: repeat(4,1fr);
    column-gap: $columnGap;
    h1{grid-area: header;}
    .textSummary{
        grid-area: text;
        margin-bottom: 2rem;
        }
    }

.statusBadge{
    background-color: $mainBlue;
    border-radius: 2px;
    box-shadow: 0 .2em .5em rgba(black,.2);
    color: white;
    padding: .5em .8em;
    position: absolute;
    text-decoration: none;
    bottom: 12px;
    right: 10px;
    }
.maxProgress .statusBadge{
    background-color: white;
    color: $mainBlack;
    }

.devTileMini{
    img{
        box-shadow: 0 .25em .5em black;
        }
    }
.devProgress{
    border-top: .5rem solid rgba(white,.5);
    position: relative;
    &::after{
        content: '';
        border: .25rem solid $mainBlue;
        position: absolute;
        top: -.5rem; left: 0;
        }
    &.minProgress::after{width: calc(12.5% - .5rem);}
    &.minorProgress::after{width: calc(25% - .5rem)}
    &.midProgress::after{width: calc(50% - .5rem);}
    &.muchProgress::after{width: calc(75% - .5rem)}
    &.maxProgress::after{
        border-color: white;
        width: calc(100% - .5rem);
        }
    }

//
//*****************************************************EYE4LABS
.labsIntro{
    background-color: $darkerBlack;
    padding-top: 2rem;
    padding-bottom: 3rem;
    }
.labsIntroWrap{
    grid-template-areas: 'logo . intro';
    grid-template-columns: 3fr 1fr 8fr;
    column-gap: $columnGap;
    }
.labsLogo{
    grid-area: logo;
    }
.labsIntroText{
    grid-area: intro;
    }
.labButton{
    background-color: white;
    color: $darkerBlack;
    display: inline-block;
    margin-top: 15px;
    text-shadow: none;
    &:hover{
        background-color: $labYellow;
        color: white;
        }
    }
.labsShowcase{
    background-color: $mainBlack;
    padding-top: 2rem;
    padding-bottom: 2rem;
    }
.labsShowcaseWrap{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "tile tile";
    gap: 2rem;
    h1{
        grid-area: header;
        margin-bottom: 0;
        }
    }
.labTile{
    border: 1px solid $labYellow;
    display: grid;
    grid-template-columns: 3fr 4fr;
    column-gap: $columnGap;
    padding: 1rem;
    &:last-child{
        margin-bottom: 0;
        }
    }
.labTile .gameImage img{
    box-shadow: 0 .2em .4em rgba($darkestBlack,.2);
    & + .button{
        margin-top: 1rem;
        }
    }
.labTile .labData{
    time{
        color: $labYellow;
        font-weight: 700;
        }
    h4{
        margin-top: 15px;
        }
    }